.item {
	border: 0 solid var(--mantine-color-gray-4);
	border-bottom-width: 1px;
	cursor: pointer;

	@mixin dark {
		border-color: var(--mantine-color-dark-4);
	}

	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-select: none;
}

@media (hover: hover) and (pointer: fine) {
	.item {
		user-select: auto;
		-webkit-user-select: auto;
	}
}

.checkbox {
	border-color: var(--mantine-color-dark-9);

	@mixin dark {
		border-color: var(--mantine-color-text);
	}
}

.text {
	color: var(--mantine-color-dark-5);

	@mixin dark {
		color: var(--mantine-color-dark-2);
	}
}

.leadImageWrapper {
	height: 90px;
	width: 90px;
	overflow: hidden;
}

.leadImage {
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
	border-radius: var(--mantine-radius-sm);
}

.checkboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
}