.navbar {
	transition: width 0.3s, margin 0.3s;
}

.closedNavbar {
	width: 60px;
	margin-left: 250px;
}

.openedNavbar {
	width: 240px;
	margin-left: 70px;
}

.mobileDrawerTitle {
	font-size: var(--mantine-font-size-xxl);
	font-weight: 700;
}

.mobileDrawerContent {
	display: flex;
	flex-direction: column;
}

.mobileDrawerBody {
	height: 100%;
}