.highlight {
	border: 0 solid var(--mantine-color-gray-4);
	border-bottom-width: 1px;
	cursor: pointer;

	@mixin dark {
		border-color: var(--mantine-color-dark-4);
	}

	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-select: none;
}

@media (hover: hover) and (pointer: fine) {
	.highlight {
		user-select: auto;
		-webkit-user-select: auto;
	}
}


.breadcrumb {
	flex-wrap: wrap;
	padding-right: 44px;
	max-width: 100%;
	row-gap: var(--mantine-spacing-xxs);
}

@media (max-width: $mantine-breakpoint-xs) {
	.breadcrumb {
		padding-right: 32px;
	}
}

.text {
	color: var(--mantine-color-dark-5);
	word-break: break-word;
	white-space: normal;

	@mixin dark {
		color: var(--mantine-color-dark-2);
	}
}