.root {
	position: relative;
	padding: var(--mantine-spacing-sm);
	transition: border-color 150ms ease;

	&[data-checked] {
		@mixin light {
			border-color: var(--mantine-color-text);
		}
		
		@mixin dark {
			border-color: var(--mantine-color-dark-2);
		}
	}

	@mixin hover {
		@mixin light {
			background-color: var(--mantine-color-gray-0);
		}

		@mixin dark {
			background-color: var(--mantine-color-dark-5);
		}
	}
}

.label {
	font-weight: bold;
	font-size: var(--mantine-font-size-md);
	line-height: 1.3;
	color: var(--mantine-color-bright);
}

.icon {
	width: var(--mantine-font-size-xxl);
	height: var(--mantine-font-size-xxl);
	border-radius: 50%;
	box-shadow: 0 0 1px 1px var(--mantine-color-gray-4);
}
